.banner {
	background-size: cover;
	background-position: center center;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 200px;
	}
}

.banner-cuisine {
	justify-content: flex-start;
}

.banner-content {
	color: white;
	width: 60%;
	h2 {
		font-family: $my-font;
	}
	@media (max-width: $screen-sm) {
		width: 85%;
	}
	@media (max-width: $screen-xs) {
		text-align: center;
		width: 100%;
	}
}

.banner-resto {
	justify-content: flex-end;
	background-position: center right;
	.banner-content {
		float: right;
		text-align: right;
		@media (max-width: $screen-xs) {
			text-align: center;
		}
	}
}