.btn-navbar {
	padding: 10px 20px;
	border-radius: 3px;
	background: $mamagoto-blue;
	color: white!important;
	&:hover {
		color: $mamagoto-blue !important;
	}
	&:focus {
		background: $mamagoto-blue !important;
		color: white!important;
	}
}

.btn-resa {
	padding: 10px 20px;
	border-radius: 3px;
	background: white;
	color: $mamagoto-blue;
	font-family: $my-font;
	&:hover {
		color: white;
	}
	&:focus {
		color: white;
	}
}