.map-info {
	position: absolute;
	z-index: 3;
	top: 60px;
	left: 130px;
	background: white;
	padding: 50px 20px;
	border-radius: 4px;
}
.map-container {
	position: relative;
}

.map-info, .contact-info {
	h2{
		font-family: $my-font;
		font-size: 19px;
		margin-bottom: 0;
	}
	img {
		width: 100px;
	}
}

.contact-container {
	background: #eeeeee;
	padding: 20px 0;
}
.contact-info {
	padding: 20px 0;
	background: white;
	border-radius: 4px;
}