/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.marged-navbar {
  margin-top: 80px;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.text-legend {
  font-size: 12px;
}


a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}



.waiting-page1 {
  background: #FAFAFA;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 300px;
    margin-bottom: 20px;
  }
  a {
    color: black;
    text-decoration: none;
    i {
      font-size: 24px;
    }
  }
}


html, body {
  height: 100%;
}
