.cuisine-screen {
	background: #E6E6E6;
	// img {
	// 	width: 200px;
	// 	border-radius: 50%;
	// }
	h2 {
		font-family: $my-font;
		margin-top: 0;
	}
}

.chef-info {
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chef-image {
	flex: 0 0 30%;
	img {
		width: 100%;
		border-radius: 50%; 
	}
}

.chef-text {
	flex: 0 0 60%;
}



