---
title: Mamagoto Restaurant
---

<%= partial "navbar2" %>

<div class="banner banner-cuisine" id="banner-2" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path('banner/banner2.jpg')%>');">
	<div class="banner-content">
		<h2>La “dinette” japonaise</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			<br> 
			Rem mollitia repellat facere placeat, quae expedita culpa beatae reprehenderit perferendis consequatur voluptatibus neque eius ad exercitationem asperiores doloribus, quod modi! Odit.
		</p>
	</div>
	<div class="arrow-container fadeInArrow">
	  <a href="#banner-3">
	    <i class="fa fa-angle-down scroll-btn"></i>
	  </a>
	</div>
</div>

<div class="cuisine-screen padded" id="banner-2">
	<div class="container">
		<div class="chef-info">
			<div class="chef-image">
				<%= image_tag "gallery/koji.jpg" %>
			</div>
			<div class="chef-text">			
				<h2>Le chef</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid neque distinctio libero, tenetur similique dicta, inventore quibusdam harum praesentium accusantium assumenda ad eum tempore hic qui id veritatis dolorem delectus!</p>
			</div>
		</div>
	</div>
</div>


<div class="footer text-center">
	<div class="socials">
		<a href="https://www.facebook.com/mamagotoparis/?fref=ts"> <i class="fa fa-facebook"></i> </a>
		<a href="https://www.instagram.com/mamagotoparis/"> <i class="fa fa-instagram"></i> </a>
	</div>
	<p>©2016 MAMAGOTO · Design and web development by <a href="http://www.blbrd.com">BLBRD</a></p>
</div>