---
title: Mamagoto Restaurant
---

<%= partial "navbar2" %>

<div class="gallery">

	<% data.images.each do |pic| %>
		<div class="banner" style="background-image: url('<%= image_path("#{pic.url}")%>'); background-size: cover;">
		</div>
	<% end %>

</div>
<div class="footer text-center">
	<div class="socials">
		<a href="https://www.facebook.com/mamagotoparis/?fref=ts"> <i class="fa fa-facebook"></i> </a>
		<a href="https://www.instagram.com/mamagotoparis/"> <i class="fa fa-instagram"></i> </a>
	</div>
	<p>©2016 MAMAGOTO · Design and web development by <a href="http://www.blbrd.com">BLBRD</a></p>
</div>