---
title: Mamagoto Restaurant
---

<div class="waiting-page1 text-center">
  <div class="waiting-page-content">
  <%= image_tag "logo.svg", class: "img-responsive" %>



  <p>Contact : <br>
    5 Rue des Petits Hôtels, 75010 Paris <br>
    01 44 79 03 98
  </p>
  <p class="text-legend">(Site en construction)</p>
  <br>
  <p>Nous suivre : </p>
  <a href="https://www.instagram.com/mamagotoparis/"><i class="fa fa-instagram"></i></a>
  </div>
</div>
