<div class="waiting-page2 text-center">
  <div class="waiting-page-content">
  <%= image_tag "logo2.svg", class: "img-responsive" %>



  <p>Contact : <br>
    5 Rue des Petits Hôtels, 75010 Paris <br>
    01 44 79 03 98
  </p>
  <p class="text-legend">(Site en construction)</p>
  <br>
  <%= link_to "OPTION 1", "/index.html"%>
  </div>
</div>
