---
title: Mamagoto Restaurant
---

<%= partial "navbar2" %>
<div class="banner banner-cuisine" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path('banner/banner8.jpg')%>');">
	<div class="banner-content">

		<h2>L'histoire de Mamagoto</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			<br> 
			Rem mollitia repellat facere placeat, quae expedita culpa beatae reprehenderit perferendis consequatur voluptatibus neque eius ad exercitationem asperiores doloribus, quod modi! Odit.
		</p>
	</div>
	
	<div class="arrow-container fadeInArrow">
	  <a href="#banner-2">
	    <i class="fa fa-angle-down scroll-btn"></i>
	  </a>
	</div>
</div>

<div class="restaurant-screen padded" id="banner-2">
	<div class="container">
		<div class="restaurant-description">
			<div class="team-image">
				<%= image_tag "gallery/mamagoto1.jpg" %>
			</div>
			<div class="text-description">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laudantium ipsa sint earum perferendis ab reiciendis ullam distinctio perspiciatis aperiam ratione quasi quod vero pariatur optio nihil, obcaecati, deserunt beatae.
					<br>
					<br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse praesentium itaque obcaecati veritatis accusamus magni alias error temporibus labore quis. Cupiditate asperiores autem molestiae totam accusantium tempora cum molestias iste!
				</p>
			</div>
		</div>
	</div>
</div>

<div class="footer text-center">
	<div class="socials">
		<a href="https://www.facebook.com/mamagotoparis/?fref=ts"> <i class="fa fa-facebook"></i> </a>
		<a href="https://www.instagram.com/mamagotoparis/"> <i class="fa fa-instagram"></i> </a>
	</div>
	<p>©2016 MAMAGOTO · Design and web development by <a href="http://www.blbrd.com">BLBRD</a></p>
</div>
